<h1>Persona</h1>

<div class="container mt-8">
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Admin Persona</h5>
        <div class="card-body">
          <h5 class="card-title">Intorduction</h5>
          <p class="card-text">It contains list of room, add room and check room status.</p>
          <button  class="btn btn-primary" [routerLink]="['/room']">Go to admin persona</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Customer Persona</h5>
        <div class="card-body">
          <h5 class="card-title">Intorduction</h5>
          <p class="card-text">It contains room booking.</p>
          <button class="btn btn-primary" [routerLink]="['/booking/new']">Go to customer persona</button>
        </div>
      </div>
    </div>
  </div>
</div>
